[Unit]
Description=Certbot
Documentation=https://certbot.eff.org/docs/
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --quiet --deploy-hook "systemctl reload nginx"
PrivateTmp=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
